:root{
    --background-color: white;
    --header-color: #132A4C; 
    --tittle-color: white;
    --text-color: aliceblue;
    --word-font: 'Rubik', sans-serif;

}

.header{
    background: var(--header-color);
    box-shadow: 0 4px 5px black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0PX;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    padding:8px;
    max-width: 990PX;
    margin: 0 auto;
    /*align-items: center;
    width: 100vw;
    height: 5px; 
    padding: 5vh 3vw 5vh 3vw; */ 
}

/*logo*/

/*.header-logo{
    display: flex;
    align-items: center;
}*/
.header-icon{
    width: 50px;
    display: flex;
    min-width: 80px;
    height: fit-content;
    border-radius: 50%;
}


/*Menu*/

.menu{
    display: flex;
    list-style: none;
    margin:10px 0px 0px 0px;
    padding: 0;
}

.menu li{
    color:white;
    font-family: var(--word-font);
    padding: 18px 15px 15px 15px;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

.menu li::after{
    content: "";
    background-color: brown/*#D90D32*/;
    position: absolute;
    top: 60%;
    width: 6%;
    height: 3px;
    opacity: 0;
}


/*.menu a.select1::after,*/
.menu li:hover::after{
    cursor: pointer;
    opacity: 0.8;
}

.open-menu-btn, .close-menu-btn{
    display: none;
}

/*textos*/

p{
    font-family: var(--word-font);
    text-align: center;
    font-size: 20px;
}



h2{
    text-align: center;
    font-size: 40px;
    font-family: var(--word-font);
    text-decoration:underline;
    font-style: italic;

}
/*
@media(max-width:950px){

    .menu{
        flex-direction: column;
        position: fixed;
        left:0;
        top:0;
        width: 100%;
        align-items:center;
        background-color: rgba(23, 54, 36, 0.514);
        height: 100%;
    }
    .menu li{
    padding:0;
    }
    .menu a{
        line-height: 60px;
    }

    .open-menu-btn, .close-menu-btn{
        display:block;
        width: 20px;
        height: 20px;
        filter: invert(100%);
        
    }
    .close-menu-btn{
        align-self: flex-end;
    }
    
}*/


/*
li{
    color:var(--tittle-color);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding-left: -2%;
    font-size: 120%;
}
#lista1{
   padding-right: 0%;
   padding-left: 25%;
}

#lista2{
    padding-right: 50%;
}*/