:root{
    --word-font: 'Rubik', sans-serif;
    --background-color: white;
    --theme-color: #1E5DA9;
    --header-color: #132A4C; 
    --tittle-color: black;
    --text-color: rgb(255, 255, 255);
    --btn-color: rgb(241, 241, 241);
}

.initial-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
    
}
.hola{

    display: flex;
}
body{
    margin: 0;
}

.initial-info .initial-info-div{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(199, 191, 235), transparent);
}
.initial-info .initial-info-portada{
    display: block;
    width: 80%;
    height: 30rem;
    background-color: rgba(54, 112, 206, 0.692);
    border-radius: 0 0 15px 15px ;
}


 h2{
    text-align: center;
    
 }
 p{
    font-size: 20px;
 }


.initial-text{
    margin: -18% 0 0 30% ;
    width: 600px;
    height: 200px;
    font-family: var(--word-font);
    
    left: calc(50% - 200px);
    font-size: 20px;
    
    
}
.principal-img{
    margin-top: 30px;
    width: 150px;
    display: flex;
    min-width: 250px;
    height: fit-content;
    margin-left: 20px;
}


h3{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}


.initial-info #box-1{
    margin: -49px 18vw 9px;
    width: 300px;
    height: 260px;
    font-family: var(--word-font);

    border: 1px solid #050505b0;
    background-color: var(--background-color);
    bottom: 10px;
    left: calc(50% - 438px);
    box-shadow: 0 0 15px #0000007c;
    border: transparent;
    border-radius: 25px;
}
/*.initial-info #box-1{
    margin: -49px 14vw 9px;
    width: 300px;
    height: 260px;
    font-family: var(--word-font);

    border: 1px solid #050505b0;
    background-color: var(--background-color);
    bottom: 10px;
    left: calc(50% - 438px);
    box-shadow: 0 0 15px #0000005b;
}*/

#b-1, #t-1{
    margin-top: 25px;
    margin-bottom: -1px;
}
#box-1:hover{
    transform: translateY(-20px);
    box-shadow: 35px 40px 8px #00000042;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
}


.initial-info #box-2{
    margin: -272px 39vw 9px; /*El margin auto funciona solo cuando esta definidfo el width osea el ancho*/
    width: 300px;
    height: 260px;
    padding: 10px;
    bottom: 3px;
    font-family: var(--word-font);
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: var(--background-color);
    box-shadow: 0 0 15px #0000007c;
    border: transparent;
    border-radius: 25px;

}
#box-2:hover{
    transform: translateY(-20px);
    box-shadow: 35px 40px 8px #00000042;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
}
#b-2{
    align:justify;
    margin-bottom: -1px;
}

.initial-info #box-3{
    margin: -273px 38vw 9px 960px; /*El margin auto funciona solo cuando esta definidfo el width osea el ancho*/
    width: 300px;
    height: 260px;
    padding: 5px;
    bottom: 3px;
    font-family: var(--word-font);
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: 0 0 15px #0000007c;
    border: transparent;
    background-color: var(--background-color);
    border-radius: 25px;

}

#b-3{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -13px;
}
#box-3:hover{
    transform: translateY(-20px);
    box-shadow: 40px 40px 8px #00000042;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
}


.btn-more{
    width: 90px;
    font-size: 20px;
    font-family: var(--word-font);
    margin: 30px 100px;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    background: var(--btn-color);
    cursor: pointer;
    border-radius: 50px;
    color: #000;
    border-color: #96b4db;
}
.btn-more:hover{
    transform: translateY(-10px);
    color: #ffffff;
    border-color: #497dbd;
    background: #8ab3e6;
    box-shadow: 6px 9px 8px #0000004b;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
}


/*
.btn-more:hover{
    background: linear-gradient(#6c94c4, var(--btn-color));
    
    box-shadow: 0 0 15px #0000007c;
}
.btn-more::before{
    box-shadow: 0 0 15px #000000;
}*/

.logramos{
    display: flex;
    flex-direction: column;
}

.logramos-body{
    background-color: var(--theme-color);
    font-family: var(--word-font);
    color: antiquewhite;
}

.wave{
    width: 100%;
    top: 2px;
    
}

.wave_bottom{
    top: -2px
}


 .logramos-text{
    text-align: center;
    font-size: 27px;
    margin: 70px 70px 60px 70px;
}

.link-banco{
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 30pc;
    box-shadow: 0 4px 12px black;
}

.link-uni{
    width: 160px;
    height: 160px;
    border:1px solid black;
    border-radius: 50%;
    margin-left: 56pc;
    margin-bottom: 1pc;
    margin-top: -2000pc;
    box-shadow: 0 4px 12px black;
}
.contact-text{
    text-align: center;
    font-size: 27px;
    margin: 70px 70px 60px 70px;
}

.btn-conections{
    align-items: center;
    justify-content: center;
}
.btn-wst{
    width: 8%;
    margin-left: 32%;
    border-radius: 50%;
    box-shadow: 0 4px 12px black;
}
.btn-mail{
    width: 7%;
    margin-left: 18%;
    border-radius: 50%;
    box-shadow: 0 4px 12px black;
}

/*Formulario*/

.formulario{
    display: flex;
    top: 100px;
    margin-left: 35%;
    width: 430px;
    height: 26pc ;
    background-color: #1e5da96b;
    border-radius: 10px;
   
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
    font-family: var(--word-font);
}
form .name{
    position: relative;
    width: 340px;
    border-bottom: 2px solid rgba(136, 149, 179, 0.822);
    margin: 35px 0;
    color: rgb(0, 0, 0);
}

.name input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px ;
    border: none;
    background: none;
    outline: none;
}
.name label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #353d4b;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.name input:focus ~ label , .name input:focus ~ label{
    top: -5px;
    color: black;
}


.name input:focus ~ span::before , .name input:focus ~ span::before {
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: var(--word-font);
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    background: linear-gradient(#7280d16b, transparent);
    cursor: pointer;
    border-radius: 50px;
    color: #000;
    border-color: #acc9f1;
}

/*

medidas para tablet*/
@media (max-height:1000px) {

 .initial-info #box-1 {
        margin-left: 14vw;
        margin-bottom: 30px;
}

.initial-info #box-2 {
    margin: -21.5% 38vw 2px; 
    width: 300px;
    height: 260px;
    font-size: 5px;
}
.initial-info #box-3 {
    margin: -21.5% 62vw 2px; 
    width: 300px;
    height: 260px;
    font-size: 5px;
}

}
/*
@media (max-height:1115px) {
    .initial-info #box-1 {
        margin-bottom: -20px;
        margin-left: 11vw;
        padding: 4px 4px 4px -14px ;
}

}*/