.initial-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: colum;
}

.initial-info .initial-info-div{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(199, 191, 235), transparent);
}
.initial-info .initial-info-portada{
    display: block;
    position: relative;
    width: 80%;
    height: 17rem;
    background-color: #3b70c4;
    border-radius: 0 0 15px 15px ;
}