:root{
    --word-font: 'Rubik', sans-serif;
    --background-color: white;
    --theme-color: #1E5DA9;
    --header-color: #132A4C; 
    --tittle-color: black;
    --text-color: black;
    --btn-color: rgb(207, 206, 205);
}

.principal-text-3{
    text-align: center;
    font-size: 22px;
    padding: 0 100px;
    margin: 70px 70px 60px 70px;
}
.second-info-3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--theme-color);
        padding-bottom: -20px;
        

}
.wave{
    display: flex;
    top: -10px
}


.wave_bottom{
    top: -2px
}

.temas-3{
    text-align: left;
    margin-left: 20%;
    font-size: 40px;
    color: antiquewhite;
}

.list-container-3{
    font-family: var(--word-font);
    font-size: 27px;
    margin-left: -24px;
    color: antiquewhite;
}
.info-item-3{
    justify-content: space-between;
    margin-bottom: 20px;

}

.text-item-3{
    width: 550px;
    margin-bottom: 50px;
}

.principal-img-3{
    margin-top: 6%;
    display: flex;
    width:34%;
    margin-bottom: 50px;
}
.contact-tittle{
    text-align: center;
}
.contact-text{
    text-align: center;
    font-size: 27px;
    margin: 70px 70px 60px 70px;
}
.btn-wst{
    width: 8%;
    margin-left: 32%;
    border-radius: 50%;
    box-shadow: 0 4px 12px black;
}

 